<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="ISO-8859-1">
  <title>Invoice</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/invoice.css">
</head>
<body>

<!------ Include the above in your HEAD tag ---------->


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
      <a>Le'Bistrot de Andre</a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/menu}" href="#">Menu</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/orders}" href="#">Orders</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/booking}" href="#">Bookings</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h1>Your Invoice</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 body-main">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"> <img class="img" alt="Invoce Template" src="/images/restaurant.png" /> </div>
            <div class="col-md-8 text-right">
              <h4 style="color: #0198E1;"><strong>Le'Bistrot de Andre</strong></h4>
              <p th:text="${email}">example@gmail.com</p>
            </div>
          </div> <br />
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>Invoice</h2>
              <h5 th:text="${orderID}">2112</h5>
            </div>
          </div> <br />
          <div>
            <table class="table">
              <thead>
              <tr>
                <th>
                  <h5>Meal Ordered</h5>
                </th>
                <th>
                  <h5>Amount</h5>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="meal, iStat : ${meals}">
<!--                <th scope="row" th:text="${iStat.index + 1}">1</th>-->
                <td class="col-md-9" th:text="${meal.name}"></td>
                <td class="col-md-3"  th:text="${meal.price}"></td>
              </tr>

                <td class="text-right">
                  <p> <strong>Total Amount: </strong> </p>
                  <p> <strong>Discount: </strong> </p>
                  <p> <strong>Payable Amount: </strong> </p>
                </td>
                <td>
                  <p><strong>$</strong><strong th:text="${total}"></strong></p>
                  <p><strong>$</strong><strong th:text="${discount}"></strong></p>
                  <p><strong>$</strong><strong th:text="${payable}"></strong></p>
                </td>
              </tr>
              <tr style="color: #0198E1;">
                <td class="text-right">
                  <h4><strong>Total:</strong></h4>
                </td>
                <td class="text-left">
                  <h4><strong>$</strong><strong th:text="${payable}">79990</strong></h4>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <div class="col-md-12">
              <p>
                <strong>Date: </strong>
                <strong th:text="${date}"></strong>
              </p>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>